* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a5f;
    padding: 15px 40px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box {
    background: orange;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #1e3a5f, #2c5d8a);
    color: white;
    padding: 60px 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 32px;
}

.hero-text h3 {
    margin: 10px 0;
    font-weight: normal;
}

.hero-text p {
    font-size: 14px;
    line-height: 1.6;
}

.hero-img img {
    width: 200px;
    border-radius: 50%;
    background: #ccc;
    padding: 20px;
}

#sobre-mi {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

article {
    width: 60%;
}

aside {
    width: 35%;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

blockquote {
    border-left: 4px solid orange;
    padding-left: 10px;
    color: gray;
    margin-top: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #1e3a5f;
    color: white;
}

th, td {
    border: 2px solid #1e3a5f;
    padding: 10px;
    text-align: center;
}


.barra {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: auto;
}

.progreso {
    height: 100%;
    border-radius: 5px;
}

.html {
    width: 80%;
    background: #e34c26;
}

.css {
    width: 60%;
    background: #264de4;
}

.javascript {
    width: 40%;
    background: #f0db4f;
}

.github {
    width: 20%;
    background: #333;
}

.react {
    width: 10%;
    background: #61dafb;
}


.proceso-html {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 25px;

}
.proceso-html ol {
    padding-left: 20px; 
    margin: 0;

}


.proceso-html div {
    background-color: #f5f5f5;  
    padding: 20px;               
    border-radius: 15px;        
    width: 100%;                 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    text-align: center;
}
